<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" type="text/css" , href="{{url_for('static', filename='styles/AboutUs.css')}}">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">ChillDown</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/">Our Vision</a></li>
            <li><a href="/">Login</a></li>
        </ul>
        <ul>
            <li>

                <a href="/"><img src="https://cdn.pixabay.com/photo/2015/09/19/19/41/girl-947617__340.png"
                        alt="Login"></a>
            </li>
        </ul>
    </nav>



    <h1>Our Team</h1>
    <div class="team-member">
        <img src="https://cdn.pixabay.com/photo/2018/03/22/17/56/moe-3251269__340.png" />
        <h2>John Doe</h2>
        <p>Role: Designer</p>
    </div>
    <div class="team-member">
        <img src="https://cdn.pixabay.com/photo/2015/01/11/07/05/moe-595957__340.png" />
        <h2>Jane Smith</h2>
        <p>Role: Developer</p>
    </div>
    <div class="team-member">
        <img src="https://cdn.pixabay.com/photo/2014/12/16/16/40/moe-570514__340.png" />
        <h2>Tom Lee</h2>
        <p>Role: Project Manager</p>
    </div>
    <div class="team-member">
        <img src="https://cdn.pixabay.com/photo/2015/09/19/19/41/girl-947617__340.png" />
        <h2>Sara Patel</h2>
        <p>Role: Marketing</p>
    </div>
</body>

</html>
